<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Van Houten</title>

</head>

<body>
                    <h2>Registration Form</h2>
                    <form th:action="@{/usuarios/cargar}" method="POST" th:object="${usuario}" enctype="multipart/form-data">
                                    <input hidden th:field="*{id}">
                                    <label>Nombre</label>
                                    <input id="nombre" type="text" name="nombre" th:field="*{nombre}">
                                    <label>Apellido</label>
                                    <input id="apellido" type="text" name="apellido"  th:field="*{apellido}">
                                    <label >Telefono</label>
                                    <input id="telefono" type="text" name="telefono"  th:field="*{telefono}">
                                    <label>Dni</label>
                                    <input id="dni" type="text" name="dni"  th:field="*{dni}">
                                    <label>Email</label>
                                    <input id="email" type="email" name="email"  th:field="*{email}">
                                    <label >Nacimiento</label>
                                    <input id="fechaNacimiento" type="date" name="fechaNacimiento"  th:value="${fechaNacimiento}">
                                    <label >Nombre Usuario</label>
                                    <input type="text" name="nombreUsuario" id="nombreUsuario"  th:field="*{nombreUsuario}">
                                    <label >Contraseña</label>
                                    <input  id="clave" type="password" name="clave"  th:field="*{clave}">
                                    <label >Contraseña 2</label>
                                    <input  id="password2" type="password" name="password2">
                                    <label>Foto</label>
                                    <input type="file" id="archivo" name="archivo">
                                    <button type="submit">Submit</button>
                    </form>

</body>
</html>
